.Conditions {
  text-align: center;
}
.Conditions #city {
  text-align: center;
  color: #f3c623;
  font-size: 30px;
  text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000;
}
.Conditions canvas {
  width: 75px;
}

.Conditions .current-condition {
  font-size: 22px;
  margin: 0 auto;
  color: #f3c623;
}
.Conditions .low {
  position: relative;
  left: 30px;
}
.Conditions .high {
  position: relative;
  right: 30px;
}

.Conditions .wind {
  position: relative;
  left: 60px;
}
.Conditions .humidity {
  position: relative;
  right: 60px;
}
.Conditions .high,
.low {
  bottom: 100px;
}
.Conditions .humidity,
.wind {
  bottom: 90px;
}
.Conditions .conditions {
  font-size: 20px;
  line-height: 3;
  text-align: center;
}
.Conditions .conditions .fas {
  color: #810000;
}
