.Forecast {
  text-align: center;
  font-size: 17px;
  position: relative;
  bottom: 60px;
  border: 1px solid transparent;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: auto 20px;
  padding: 10px;
}
.Forecast canvas {
  margin: 5px auto;
  display: block;
  width: 45px;
}

.Forecast .forecast-links {
  position: absolute;
  left: 0;
  bottom: 150px;
}

.Forecast .forecast-links .active {
  color: black;
  cursor: default;
}
.Forecast .forecast-links .not-active {
  color: #f3c623;
}
.Forecast .forecast-links .active:hover {
  text-decoration: none;
}
