.Temperature {
  text-align: center;
}

.Temperature #current-temp {
  font-size: 45px;
  margin-right: 10px;
}

.Temperature .current-unit {
  font-size: 18px;
  position: relative;
  bottom: 20px;
}

.Temperature .active {
  color: black;
  cursor: default;
}
.Temperature .not-active {
  color: #f3c623;
  text-shadow: -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000, 0.5px -0.5px 0 #000,
    -0.5px -0.5px 0 #000;
}
.Temperature .active:hover {
  color: black;
  text-decoration: none;
}
